<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\database.db" providerName="Microsoft.Data.Sqlite" />
  </connectionStrings>
  <appSettings>
    <add key="logPath" value="C:\Temp\ev.log"/>
  </appSettings>
</configuration>
